*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul{
    list-style-type: none;
}
.h{
    font: 3em small-caps;
}
div {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    border:px solid orangered;
 }
 p{
    padding: 3vh;
 }
 .wrapper{
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
 }
.center{
    width: 100%;
    height: 60vh;
    background-color: whitesmoke;
}
.c_text{
    padding-top: 20vh;
    text-align: center;
}
menu{
    padding-top: 30vh;
}
.empty{
    width: 10vw;
    background-color: snow;
}
.sidebar{
    width: 100%;
    height: 80vh;
    background-color: plum;
    text-align: center;
}
.s3{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 20vh;
    background-color: magenta;
    text-align: center;
}
#header,
#footer {
    height: 20vh;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo1,
.logo2{
    width: 75%;
    margin: 40px;
    background-color: white;
    text-align: center;
}
.text1,
.text2,
.text3{
    margin: 40px;
    text-align: center;
}